
<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fas fa-map-marked-alt"></i></a>
    <a class="nav-link" routerLink="/policia"><img class="iconos" src="../../../assets/imagenes/police.png" sizes="" ></a>
  <a class="navbar-brand" routerLink="/bombero"><img class="iconos" src="../../../assets/imagenes/bombero.png" alt="" sizes="" ></a>
  <a class="nav-link" routerLink="/ambulancia"><img class="iconos" src="../../../assets/imagenes/ambulancia.png" alt="" sizes="" ></a>
</nav>

