
<div class="container">
    <div class="row">
      <div class="col-12">
          <h4 class="titulo">¿Que hacer en caso de...?</h4>
      </div>
    </div>
  </div>
  <!--Seccion de imagenes-->
    <div class="container">
        <div class="row">
          <div class="col-4">
              <img class="imagenes" src="../../../../imagenes/erupcion.jpg" alt="" sizes="" >
              <p class="parrafo">Erupción Volcanica</p>
          </div>
          <div class="col-4">
              <img class="imagenes" src="../../../../imagenes/incendio.jpg" alt="" sizes="" >
              <p class="parrafo">Incendio</p>
          </div>
          <div class="col-4">
              <img class="imagenes" src="../../../../imagenes/inundación.jpg" alt="" sizes="" >
              <p class="parrafo">Inundación</p>
          </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="imagenes" src="../../../../imagenes/tormenta.jpg" alt="" sizes="" >
                <p class="parrafo">Tormenta</p>
            </div>
            <div class="col-4">
                <img class="imagenes" src="../../../../imagenes/terremoto.jpg" alt="" sizes="" >
                <p class="parrafo">Terremoto</p>
            </div>
            <div class="col-4">
                <img class="imagenes" src="../../../../imagenes/tsunami.jpg" alt="" sizes="" >
                <p class="parrafo">Tsunami</p>
            </div>
          </div>
          <div class="row">
              <div class="col-4">
                  <img class="imagenes" src="../../../../imagenes/sequia.jpg" alt="" sizes="" >
                  <p class="parrafo">Sequia</p>
              </div>
              <div class="col-4">
                  <img class="imagenes" src="../../../../imagenes/tornado.jpg" alt="" sizes="" >
                  <p class="parrafo">Tornado</p>
              </div>
              <div class="col-4">
                  <img class="imagenes" src="../../../../imagenes/avalancha.jpg" alt="" sizes="" >
                  <p class="parrafo">Avalancha</p>
              </div>
            </div>
      </div>