<!-- <div class="form-group"> --> -->
  <!--Contraseña-->
  <!-- <span class="input-group-addon"></span>
  <input id="password" formControlName="password" type="password" class="form-control" name="password"
      placeholder="Password">
</div>
<button id="loginButton" (click)="onLogin()" class="btn text-center justify-center" type="submit"
  [disabled]="!authForm.valid">Ingresar</button> -->
<!--Ingresa-->
<!-- <form>
</div>
<button id="GoogleButton" (click)=" doGoogle()" class="btn btn-lg btn-block omb_btn-google btn-danger btn-google" type="button"><i class="fab fa-google rounded-circle"></i>+ Google</button>
<button id="Facebutton" (click)="doFace()" class="btn btn-lg btn-block btn-facebook" type="button">  <i class="fab fa-facebook-f rounded-circle"></i> Facebook </button>
<br>
<h4>¿Olvidaste tu contraseña?</h4>
<br>

<input id="registerButton" (click)="onRegister()" class="btn btn-lg btn-block omb_btn-google btn-danger btn-register" value="REGISTER" [disabled]="!authForm.valid"