.tituloConfiguracion{
    margin-top: 5%;
    text-align: center;
    font-family: 'Roboto', sans-serif !important; 
    margin-bottom: 10%;
}
.primerParrafo{
    margin-top: 5%;
}
.p{
    font-family: 'Roboto', sans-serif !important; 
}
.fas{
    color:#028090; 
}