<!--titulo-->
<div class="container">
    <div class="row">
      <div class="col-12">
          <h4 class="tituloConfiguracion">Configurar cuenta</h4>
      </div>
    </div>
  </div>
  <div class="container">
        <div class="row">
          <div class="col-12">
                <p class="primerParrafo"><i class="fas fa-key"></i> Cambiar Contraseña</p>
                <hr>
                <p><i class="fas fa-user"></i> Cambiar Nombre de Usuario</p>
                <hr>
                <p><i class="fas fa-envelope"></i> Cambiar Correo</p>
                <hr>
                <p><i class="fas fa-ban"></i> Desactivar Cuenta</p> 
                <hr>
          </div>
        </div>
      </div>
  