.tituloConfiguracion{
    margin-top: 5%;
    text-align: center;
    font-family: 'Roboto', sans-serif !important; 
    margin-bottom: 10%;
}
.btn{
    margin-top: 2%;
    background-color: #EEEEEE;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif !important; 
    font-size: 15px;
}